__pycache__/
github
github.pub
*.py[cod]
*_bk.py
.pytest_cache/
.venv/
.vscode/
src/asynctorch_experiments/buildtools/microbrain/backup/
src/asynctorch_experiments/data_small/
src/asynctorch_experiments/evaluation/plots/
src/asynctorch_experiments/gifs/
src/asynctorch_experiments/models/
src/asynctorch_experiments/evaluation/plots/
src/asynctorch_experiments/n_mnist/data_small/
src/asynctorch_experiments/n_mnist/datasets/
src/asynctorch_experiments/n_mnist/data/
src/asynctorch_experiments/n_mnist/models/
src/asynctorch_experiments.egg-info

